.account__container {
  position: absolute;
  top: 30px;
  right: 80px;
  width: 25px;
  transition: all 0.4s ease-in-out;
}

.et-fixed-header .account__container {
  top: 15px;
}

.et_pb_menu_visible .account__container {
  opacity: 1;
  animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.et_pb_menu_hidden .account__container {
  opacity: 0;
  animation: fadeOutBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.account__icon {
  position: relative;
  background: url('../icons/icon-account.svg') no-repeat;
  width: 25px;
  height: 25px;
}
