.cart__container {
  position: absolute;
  right: 35px;
  width: 55px;
  transition: all 0.4s ease-in-out;
  animation: fadeInBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.et_pb_menu_visible .cart__container {
  opacity: 1;
}

.et_pb_menu_hidden .cart__container,
.et_pb_menu_hidden .cart__container {
  opacity: 0;
  animation: fadeOutBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.cart__icon {
  position: relative;
  background: url('../icons/icon-cart.svg') no-repeat;
  width: 24px;
  height: 24px;
}

.cart__total-counter {
  position: absolute;
  right: 0;
  background-color: rgb(214, 213, 200);
  color: rgb(97, 84, 73);
  padding: 1px 5px;
  border-radius: 50%;
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.875rem;
}
